## Importing the Required Libraries

In [7]:
import numpy as np
import pandas as pd

## Diagonal Differences

In [1]:
import numpy as np
import pandas as pd

In [1]:
ar = [1,2,3,4,5]
sum(ar)

15

In [10]:
ask = int(input("please enter the no. of elements"))
array = [0]*ask

for i in range(len(array)):
    array[i] = i

please enter the no. of elements5

In [46]:
arr =np.array([[1,2,3],[4,5,6],[9,8,9]])
arr

array([[1, 2, 3],
       [4, 5, 6],
       [9, 8, 9]])

In [49]:
arr[1][1]

5

In [47]:
def diagonalDifference(arr):
    a = 0
    for i in range(len(arr)):
        a = a+arr[i,i]
    b = 0
    for i in range(len(arr)):
        b = b+arr[i,(len(arr)-1)-i]
    sum = abs(a-b)
    return sum

In [48]:
diagonalDifference(arr)

2

## Plus Minus

In [32]:
arr = [2,1,0,-1,-1,3]

In [44]:
print(format(len([i for i in arr if i>0])/len(arr), ".6f"))
print(format(len([i for i in arr if i<0])/len(arr), ".6f"))
print(format(len([i for i in arr if i==0])/len(arr), ".6f"))

0.500000
0.333333
0.166667

## Printing a Staircase

In [58]:
for i in range(1,4+1):
    a = (' #')*i
    print(a)

 #
 # #
 # # #
 # # # #

In [59]:
n=4
for i in range(1, n + 1):
        print(str('#'*i).rjust(n))

   #
  ##
 ###
####

In [70]:
print(str('#').rjust(4))
print(str('##').rjust(4))

   #
  ##

## Min Max

In [7]:
arr = [1,3,2,4,5]

In [9]:
def miniMaxSum(arr):
    arr.sort()
    sum_min = arr[0] +arr[1] +arr[2] +arr[3]
    sum_max = arr[4] +arr[3] +arr[2] +arr[1]
    return sum_min, sum_max

In [10]:
miniMaxSum(arr)

(10, 14)

## Second Largest Number

In [12]:
arr = [1,-1,-2,1]
s = (set(sorted(arr)))
l = sorted(list(s));l[-2]

-1

## Candles of highest size

In [13]:
candles = [3,2,1,3]

In [21]:
def bcc(candles):
    sorted(candles)[-1]
    c = 0
    for i in candles:
        if i == candles[-1]:
            c +=1
    return c

In [22]:
bcc(candles)

2

In [23]:
max(candles)

3

In [24]:
candles.count(max(candles))

2

## 12 hour to 24 format

In [2]:
time = '12:20:00AM'
h, m, s = map(int, time[:-2].split(':'))
p = time[-2:]
h = h % 12 + (p.upper() == 'PM') * 12
print(('%02d:%02d:%02d') % (h, m, s))

00:20:00

In [59]:
time = '12:20:00AM'
h, m, s = map(int, time[:-2].split(':'))
p = time[-2:]
if p == 'AM':
    h = int('00')
else:
    h= 12+h   
print(('%02d:%02d:%02d') % (h, m, s))

00:20:00

In [63]:
time = '01:20:00PM'
h, m, s = map(int, time[:-2].split(':'))
p = time[-2:]
if p == 'AM':
    h = int('00')
else:
    h= 12+h   
print(('%02d:%02d:%02d') % (h, m, s))

13:20:00

## Second Lowest Grade of Student

In [14]:
records = []    
for _ in range(int(input())):
    name = input()
    score = float(input())
    records.append([name, score])
        
second_lowest =  sorted(list(set([score for name, score in records])))[1]

print('\n'.join([a for a,b in sorted(records) if b == second_lowest]))

2
rajt
44
ty
56
ty

## Reversing a list of numbers - 26th July

In [6]:
#using the built in function
a =  [1,2,-100,50,0,7,8,-1,50,10,11,10,0,56,76,78]

In [4]:
b = sorted(a)
b

[-100, -1, 0, 0, 1, 2, 7, 8, 10, 10, 11, 50, 50, 56, 76, 78]

In [65]:
# definng a function and then doing it 
a =  [1,2,-100,50,0,7,8,-1,50,10,11,10,0,56,76,78]
print('unsorted list is', a)
len(a)

for i in range(len(a)):
    for j in range(i+1, len(a)):
        if a[i]>a[j]:
            a[i], a[j] = a[j], a[i]

print('sorted list is',a)

unsorted list is [1, 2, -100, 50, 0, 7, 8, -1, 50, 10, 11, 10, 0, 56, 76, 78]
sorted list is [-100, -1, 0, 0, 1, 2, 7, 8, 10, 10, 11, 50, 50, 56, 76, 78]

## Reversing a string

In [24]:
def reverse_fun(string):
    return(a[::-1])

inputstring = input()

reverse_fun(inputstring)

rajat

'tajar'

## Runners up score

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given scores. Store them in a list and find the score of the runner-up.

Input Format

The first line contains N. The second line contains X[] an array of integers each separated by a space.


Output Format

Print the runner-up score.

In [64]:
N = int(input("How many integers "))

b = []
for i in range(N):
    nums = int(input())
    b.append(nums)
print(b)

result = sorted(list(set(b)))[-2]
print(result)

How many integers 5
12
11
45
67
33
[12, 11, 45, 67, 33]
45

## AV

In [10]:
string = "1010"

string = string.replace("10", "0110")
string = string.replace("1001", "01")
string = string.replace("0", "1")
string

'111111'

In [2]:
"abc.DEF".capitalize()

'Abc.def'

In [4]:
t = (10, 4, 6, 5, 3)
t.pop(3)
print(t)

AttributeError: 'tuple' object has no attribute 'pop'

In [5]:
import sys
sys.version

'3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]'

In [6]:
string='abcd'
print(string[-1:-5:-1])

dcba

In [11]:
A = dict()
for i in range(3):
     for j in range(2):
            A[ i ] = j
print(A)

{0: 1, 1: 1, 2: 1}

In [12]:
X1 = [10,20,30,35,32,33,27,70,40,50,60]
X2 = [15,16,21,33,7,8,9,11,2,0,5]
X3 = [2,0,0,1,7,6,9,11,2,0,5]
Target = ['X','X','X','X','X','X','Y','Y','Y','Y','Y']
data = pd.DataFrame(
     {'X1': X1,
     'X2': X2,
     'X3': X3,
     'Target' : Target
     })

In [13]:
x = "abcdef"
i = "a"
while i in x:
    x = x[:-1]
    print(i, end = " ")

a a a a a a

In [14]:
41**2 + 450

2131

In [15]:
list1=[1,2,3,4,5,6,7,8,9]
list1.pop(3)

4

## Pandas Exercise

In [2]:

import pandas as pd

#create sample dataset
df2 = pd.util.testing.makeMixedDataFrame()

#view dimensions of dataset
print(df2.shape)

(5, 4)

#view first five rows of dataset
print(df2.head())

C:\Users\rajat\anaconda3\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

(5, 4)
     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [7]:
# dictionary with list object in values
details = {
    'department_id' : [99,101, 65,101, 101, 101, 57, 65],
    'department' : ['Toys', 'Groceries', 'Electronics', 'Groceries', 'Groceries', 'PH', 'Electronics', "Electronics"],
    'Store' : ['A', 'B', 'B','C','A','D', 'A', 'B'],
    'purchase_id' : [1017, 2010, 111 , 23, 565 , 567 , 1212, 78],
    'purchase_amount' : [1,2,12,45,23,12,45,11]
    
}
  
# creating a Dataframe object 
df = pd.DataFrame(details)
  
df

   department_id   department Store  purchase_id  purchase_amount
0             99         Toys     A         1017                1
1            101    Groceries     B         2010                2
2             65  Electronics     B          111               12
3            101    Groceries     C           23               45
4            101    Groceries     A          565               23
5            101           PH     D          567               12
6             57  Electronics     A         1212               45
7             65  Electronics     B           78               11

In [8]:
df.groupby(['Store', 'department', 'department_id']).agg('sum', 'mean')

                                 purchase_id  purchase_amount
Store department  department_id
A     Electronics 57                    1212               45
      Groceries   101                    565               23
      Toys        99                    1017                1
B     Electronics 65                     189               23
      Groceries   101                   2010                2
C     Groceries   101                     23               45
D     PH          101                    567               12

In [9]:
df.groupby(['Store', 'department', 'department_id'])['purchase_amount'].agg('sum', 'mean')

Store  department   department_id
A      Electronics  57               45
       Groceries    101              23
       Toys         99                1
B      Electronics  65               23
       Groceries    101               2
C      Groceries    101              45
D      PH           101              12
Name: purchase_amount, dtype: int64

In [10]:
df.agg(['purchase_amount'])['sum', 'mean'].groupby(['Store', 'department', 'department_id'])

AttributeError: 'purchase_amount' is not a valid function for 'Series' object

In [11]:
df.groupby(['Store', 'department', 'department_id']).agg('sum', 'mean')['purchase_amount']

Store  department   department_id
A      Electronics  57               45
       Groceries    101              23
       Toys         99                1
B      Electronics  65               23
       Groceries    101               2
C      Groceries    101              45
D      PH           101              12
Name: purchase_amount, dtype: int64